model: {
  second: {
    network_class_name: "VoxelNet"
    voxel_generator {
      full_empty_part_with_mean: false
      point_cloud_range : [0, -49.6, -5, 49.6, 49.6, 3]
      voxel_size : [0.05, 0.05, 0.2]
      max_number_of_points_per_voxel : 5
    }
    voxel_feature_extractor: {
      module_class_name: "SimpleVoxelRadius"
      num_filters: [16]
      with_distance: false
      num_input_features: 7 # 4 + 3
    }
    middle_feature_extractor: {
      module_class_name: "SpMiddleFHD"
      downsample_factor: 8
      num_input_features: 6 # 3 + 3
    }
    rpn: {
      module_class_name: "RPNV2"
      layer_nums: [5, 5]
      layer_strides: [1, 2]
      num_filters: [64, 128]
      upsample_strides: [1, 2]
      num_upsample_filters: [128, 128]
      use_groupnorm: false
      num_groups: 32
      num_input_features: 128
    }
    loss: {
      classification_loss: {
        weighted_sigmoid_focal: {
          alpha: 0.25
          gamma: 2.0
          anchorwise_output: true
        }
      }
      localization_loss: {
        weighted_smooth_l1: {
          sigma: 3.0
          code_weight: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
        }
      }
      classification_weight: 1.0
      localization_weight: 2.0
    }
    num_point_features: 7 # 4 + 3 # model's num point feature should be independent of dataset
    # Outputs
    use_sigmoid_score: true
    encode_background_as_zeros: true
    encode_rad_error_by_sin: true
    sin_error_factor: 1.0

    use_direction_classifier: true
    direction_loss_weight: 0.2
    num_direction_bins: 2 # don't use other number.
    direction_limit_offset: 1

    # Loss
    pos_class_weight: 1.0
    neg_class_weight: 1.0

    loss_norm_type: NormByNumPositives
    # Postprocess
    post_center_limit_range: [-10, -59.6, -10, 59.6, 59.6, 10]

    nms_class_agnostic: false # only valid in multi-class nms
    box_coder: {
      ground_box3d_coder: {
        linear_dim: false
        encode_angle_vector: false
      }
    }
    target_assigner: {
      class_settings: {
        class_name: "car"
        anchor_generator_range: {
          sizes: [1.6, 3.9, 1.56] # wlh
          anchor_ranges: [0, -49.6, -0.93897414, 49.6, 49.6, -0.93897414]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
        }
        matched_threshold : 0.6
        unmatched_threshold : 0.45
        use_rotate_nms: true
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 100
        nms_score_threshold: 0.3
        nms_iou_threshold: 0.1
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }

      class_settings: {
        class_name: "pedestrian"
        anchor_generator_range: {
          sizes: [0.6, 0.8, 1.73] # wlh
          anchor_ranges: [0, -49.6, -0.73911038, 49.6, 49.6, -0.73911038]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
        }
        matched_threshold : 0.35
        unmatched_threshold : 0.2
        use_rotate_nms: true
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 100
        nms_score_threshold: 0.3
        nms_iou_threshold: 0.1
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      
      sample_positive_fraction : -1
      sample_size : 512
      assign_per_class: true
    }
  }
}

train_input_reader: {
  dataset: {
    dataset_class_name: "NuScenesDataset"
    kitti_info_path: "../data/3d_labels_painted/infos_train.pkl"
    kitti_root_path: "../data/3d_labels_painted"
  }
  
  batch_size: 3
  preprocess: {
    max_number_of_voxels: 30000
    shuffle_points: true
    num_workers: 3
    groundtruth_localization_noise_std: [1.0, 1.0, 0.5]
    groundtruth_rotation_uniform_noise:  [-0.78539816, 0.78539816]
    global_rotation_uniform_noise: [-0.78539816, 0.78539816]
    global_scaling_uniform_noise: [0.95, 1.05]
    global_random_rotation_range_per_object: [0, 0]
    global_translate_noise_std: [0, 0, 0]
    anchor_area_threshold: -1
    remove_points_after_sample: true
    groundtruth_points_drop_percentage: 0.0
    groundtruth_drop_max_keep_points: 15
    remove_unknown_examples: false
    sample_importance: 1.0
    random_flip_x: false
    random_flip_y: true
    remove_environment: false
    database_sampler {
      database_info_path: "../data/3d_labels_painted/kitti_dbinfos_train.pkl"
      global_random_rotation_range_per_object: [0, 0]
      rate: 1.0
    }
  }
}

train_config: {
  optimizer: {
    adam_optimizer: {
      learning_rate: {
        one_cycle: {
          lr_max: 3e-3
          moms: [0.95, 0.85]
          div_factor: 10.0
          pct_start: 0.4
        }
      }
      weight_decay: 0.001
    }
    fixed_weight_decay: true
    use_moving_average: false
  }
  steps: 24000
  steps_per_eval: 4000
  save_checkpoints_secs : 1800 # half hour
  save_summary_steps : 10
  enable_mixed_precision: false
  loss_scale_factor: -1
  clear_metrics_every_epoch: true
}

eval_input_reader: {
  dataset: {
    dataset_class_name: "NuScenesDataset"
    kitti_info_path: "../data/3d_labels_painted/infos_val.pkl"
    kitti_root_path: "../data/3d_labels_painted"
  }
  batch_size: 3
  preprocess: {
    max_number_of_voxels: 60000
    shuffle_points: false
    num_workers: 3
    anchor_area_threshold: -1
    remove_environment: false
  }
}
